*{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    width: 100%;
    height: auto; 
    background-color: rgb(235, 207, 172);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgb(241, 112, 26);
    padding: 0 15%;
}

.header-contenedor{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contenedor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contenedor-logo img{    
    width: 60px;
    height: 45px;
}

.header-contenedor a{
    display: flex;
}

.header-contenedor-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu{
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    list-style-type: none;
    gap: 1rem;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-link:hover{
    color: black;
}

.productos-contenedor{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 207, 172);
}

.titulo-logo{
    width: 70px;
    height: auto;
}

.contenedor-carrito{
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(242, 243, 241, 0.937);
    border-radius: 10px;
    padding: 6px 7px 6px 20px;
}

.contenedor-carrito svg{
    width: 35px;
    height: auto;
}

.carrito-valor{
    font-weight: bolder;
    font-size: 18px;
}

#carouselExampleSlidesOnly{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner{
    width: 1200px;
    height: 350px;
    border-radius: 0 0 25px 25px;
}

.footer-contenedor{
    width: 100%;
    height: 90px;
    color:rgb(249, 136, 61);
}

.productos-contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;    
    padding-top: 10px;
}

.productos-contenedor-titulo{
    display: flex;
    width: 1200px;
    justify-content: center;
    align-self: center;
    background-color: rgb(255, 102, 2);
    padding: 0px 20px;
    border-radius: 15px;
}

.productos-contenedor-titulo h1{    
    font-size: 2.25rem;
}

.productos-grilla{
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.producto{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 220px;
    height: 350px;
    background-color:rgb(235, 222, 203);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
}

.producto-descripcion{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 180px;
}

.producto-descripcion h2{
    font-size: 1rem;
    font-weight: bolder;
}

.producto-descripcion h3{
    font-size: 0.8rem;
    font-weight: 700;
    color:rgb(255, 102, 2);
}

.producto-descripcion p{
    height: 10px;
}

.producto img{
    width: 185px;
    height: 150px;
    border-radius: 10px;
}

.contenedor-informacion-producto{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 25px;
}

.producto-detalle{
    width: 800px;
    height: auto;
    background-color:rgb(234, 188, 157);
    border-radius: 15px;
    padding: 25px;
}

.producto-imagen{
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

.producto button{
    width: 195px;
    background-color:rgba(22, 178, 22, 0.748);
    margin-right: 15px;
}

.carrito-contenedor{
    width: 750px;
    height: auto;    
    background-color:rgb(241, 224, 212);
    margin-top: 40px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrito-contenedor div{
    width: 720px;
    display: flex;
}

#root{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    height: auto;
    justify-content: center;
    align-items: center;
}

.footer-contenedor{
    width: 100%;
    height: 150px;
}

.form-container {
    margin-top: 35px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    padding: 5px;
    /* background-color: #007bff; */
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .boton-finalizar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.boton-finalizar:hover {
    background-color: #fb8c00;
    transform: translateY(-2px);
}

.boton-finalizar:active {
    background-color: #f57c00;
    transform: translateY(0);
}

.boton-cancelar {
    margin-top:10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.boton-cancelar:hover {
    background-color: rgb(222, 22, 22);
    transform: translateY(-2px);
}

.boton-cancelar:active {
    background-color: #f57c00;
    transform: translateY(0);
}

.boton-anular{
    background-color: red;
    width: 150px;
    height: 30px;
}

.boton-anular:hover{
    background-color: rgb(248, 10, 10);
}

.contenedor-carrito-visualizacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    margin-bottom: 15px; 
    border: rgb(178, 221, 178) 1px solid;
}

.contenedor-carrito-visualizacion h6{
    width: 400px;
    text-align: right;
    font-weight: 500;
}

.carrito-contenedor h5{
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: gray 1px solid;
    font-weight: bolder;
}

.producto-detalle div{
    display: flex;
    gap: 45px
}

.verde {
    background-color: green;
}

.verde:hover {
    background-color: rgb(8, 159, 8);
}


.rojo {
    background-color: red;
}

.rojo:hover{
    background-color: rgb(248, 10, 10);
}

.contenedor-carritodetail{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}